body{
	padding: 70px;
}
.jumbotron{
	color: #042C55;
	background: #DAF0F7;
}
.navbar-inverse{
	background: #01072B;
}
.navbar-inverse .nav li a{
	color: white;
}
.navbar-inverse .navbar-brand{
	color: white;
}
.thumbnail img{
	height: 250px;
	width: 100%px;
}
h1{
	text-shadow: 0px 2px 6px red,
				 0px 1px 1px orange,
				 0px 2px 3px yellow;
}
.power{
			font-style: italic;
			font-size: 5em;
			color: yellow;
}